################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Modules/bin
/Modules/bower_components
/.vs
/packages
/Modules/obj/Debug
