@{
    Layout = "~/Views/Layouts/Default.cshtml";
    ViewBag.Title = "产品列表";
}

<section class="section section-full">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>林肯电器 -- 产品列表页</h1>
            </div>
        </div>
    </div>
</section>