@{
    Layout = "~/Views/Layouts/Default.cshtml";
    ViewBag.Title = "首页";
}

@*marquee module*@
<header class="page-header">
    <div class="owl-carousel owl-theme" itemsPerPage="1" itemsPerPageTable="1" itemsSpacing="0" allowLoop="True" allowAutoPlay="True" allowFade="False" allowSimulateTouch="True">
        <div class="image-block-default">
            <div class="banner">
                <img src="~/image/hero1.png" alt=""/>
            </div>
            <div class="content">
                <div class="paragraph-block">
                    <h1 class="paragraph-block-title">林肯电气先进高效铝焊接技术研讨会</h1>
                    <hr class="paragraph-block-title-split" />
                    <div class="paragraph-block-desc">林肯电气公司创建于1895年</div>
                </div>
                <a href="http://www.lincolnelectric.com/en-us/Pages/default.aspx?locale=1033" class="btn image-block-btn">
                    <div class=""></div>
                    <div class="">
                        查看详情
                    </div>
                </a>

            </div>
        </div>
        <div class="image-block-default">
            <div class="banner">
                <img src="~/image/hero3.png" alt="" />
            </div>
            <div class="content mask-white">
                <div class="paragraph-block">
                    <h1 class="paragraph-block-title">林肯电气先进高效铝焊接技术研讨会</h1>
                    <hr class="paragraph-block-title-split" />
                    <div class="paragraph-block-desc">林肯电气公司创建于1895年</div>
                </div>
                <a href="http://www.lincolnelectric.com/en-us/Pages/default.aspx?locale=1033" class="btn image-block-btn">
                    <div class=""></div>
                    <div class="">
                        查看详情
                    </div>
                </a>
            </div>
        </div>
    </div>
</header>
@*feature(panel) module*@
<section class="section section-full">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>林肯电器 -- 首页</h1>
            </div>
        </div>
    </div>
</section>