<footer class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">

                <div class="link-group-menu panel bg-transparent">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            产品
                        </h3>
                    </div>
                    <hr>
                    <div class="panel-body">
                        <ul class="list-unstyled">
                            <li>
                                <a href="http://www.lincolnelectric.com/en-us/equipment/Pages/welders.aspx" target="" title="焊接设备">
                                    <span>焊接设备</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.lincolnelectric.com/en-us/equipment/Pages/cutting-equipment.aspx" target="" title="切割设备">
                                    <span>切割设备</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.lincolnelectric.com/en-us/equipment/welding-gear/Pages/welding-gear.aspx" target="" title="齿轮和工具">
                                    <span>齿轮和工具</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.lincolnelectric.com/en-us/equipment/accessories/Pages/accessories.aspx" target="" title="饰品">
                                    <span>饰品</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.lincolnelectric.com/en-us/consumables/Pages/consumables.aspx" target="" title="焊丝，焊剂和棒材">
                                    <span>焊丝，焊剂和棒材</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.lincolnelectric.com/en-us/equipment/guns/Pages/welding-guns-and-torches.aspx" target="" title="枪和手电筒">
                                    <span>枪和手电筒</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.lincolnelectric.com/en-us/equipment/Pages/automation.aspx" target="" title="自动焊接和切割系统">
                                    <span>自动焊接和切割系统</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.lincolnelectric.com/en-us/equipment/training-equipment/Pages/training-equipment.aspx" target="" title="教育者培训设备">
                                    <span>教育者培训设备</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.lincolnelectric.com/en-us/equipment/weld-fume-control/Pages/weld-fume-control.aspx" target="" title="焊接烟雾控制">
                                    <span>焊接烟雾控制</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.lincolnelectric.com/en-us/automation/Pages/automation.aspx" target="" title="自动化解决方案概述">
                                    <span>自动化解决方案概述</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="link-group-menu panel bg-transparent">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            安全
                        </h3>
                    </div>
                    <hr>
                    <div class="panel-body">
                        <ul class="list-unstyled">
                            <li>
                                <a href="http://www.lincolnelectric.com/en-us/education-center/welding-safety/Pages/welding-safety.aspx" target="" title="焊接安全培训信息">
                                    <span>焊接安全培训信息</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.lincolnelectric.com/en-us/equipment/weld-fume-control/Pages/weld-fume-control.aspx" target="" title="焊接烟气控制产品">
                                    <span>焊接烟气控制产品</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.lincolnelectric.com/en-us/equipment/welding-gear/Pages/welding-gear.aspx" target="" title="头盔＆服装">
                                    <span>头盔＆服装</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.lincolnelectric.com/en-us/support/msds/Pages/sds-search.aspx" target="" title="安全数据表（SDS）">
                                    <span>安全数据表（SDS）</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">

                <div class="link-group-menu panel bg-transparent">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            教育
                        </h3>
                    </div>
                    <hr>
                    <div class="panel-body">
                        <ul class="list-unstyled">
                            <li>
                                <a href="http://education.lincolnelectric.com/" target="" title="教育中心 - 首页">
                                    <span>教育中心 - 首页</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://education.lincolnelectric.com/education-resource-purchasing-portal/" target="" title="教育采购门户">
                                    <span>教育采购门户</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://education.lincolnelectric.com/ulinc/" target="" title="U/Linc 课程">
                                    <span>U/Linc 课程</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://education.lincolnelectric.com/materials-equipment/safety-equipment-training/" target="" title="焊接安全培训视频">
                                    <span>焊接安全培训视频</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://education.lincolnelectric.com/welding-technology-and-training-center/" target="" title="参加我们的焊接学校">
                                    <span>参加我们的焊接学校</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://education.lincolnelectric.com/welder-training-2/" target="" title="研讨会和研讨会">
                                    <span>研讨会和研讨会</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="link-group-menu panel bg-transparent">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            保持联系
                        </h3>
                    </div>
                    <hr>
                    <div class="panel-body">
                        <ul class="list-unstyled">
                            <li>
                                <a href="http://www.lincolnelectric.com/en-us/support/Pages/iweld-newsletter.aspx" target="" title="iWeld - 今天报名！">
                                    <span>iWeld - 今天报名！</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.lincolnelectric.com/en-us/support/Pages/newsletters.aspx" target="" title="通讯 - 浏览全部">
                                    <span>通讯 - 浏览全部</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://newsroom.lincolnelectric.com/" target="" title="媒体新闻室">
                                    <span>媒体新闻室</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.lincolnelectric.com/en-us/company/newsroom/Pages/tradeshow-news-and-events.aspx" target="" title="新闻与事件">
                                    <span>新闻与事件</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/LincolnElectric" target="" title="Facebook">
                                    <span>Facebook</span>
                                </a>
                            </li>
                            <li>
                                <a href="" target="" title="Twitter">
                                    <span>Twitter</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/user/lincolnelectrictv" target="" title="Youtube">
                                    <span>Youtube</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">

                <div class="link-group-menu panel bg-transparent">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            支持
                        </h3>
                    </div>
                    <hr>
                    <div class="panel-body">
                        <ul class="list-unstyled">
                            <li>
                                <a href="http://www.lincolnelectric.com/en-us/support/Pages/support.aspx" target="" title="支持 - 首页">
                                    <span>支持 - 首页</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.lincolnelectric.com/en-us/company/contact-us/Pages/contact-us.aspx" target="" title="联系我们">
                                    <span>联系我们</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.lincolnelectric.com/en-us/support/Pages/operator-manuals.aspx" target="" title="操作手册">
                                    <span>操作手册</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.lincolnelectric.com/LEExtranet/ProductRegistration/PRExtWarMain.aspx" target="" title="产品注册">
                                    <span>产品注册</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.lincolnelectric.com/en-us/support/Pages/warranty.aspx" target="" title="保修信息">
                                    <span>保修信息</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.lincolnelectric.com/LEExtranet/MyLincolnCerts/site/default.aspx" target="" title="证书中心">
                                    <span>证书中心</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.lincolnelectric.com/en-us/support/Pages/equipment-certificates.aspx" target="" title="设备证书中心">
                                    <span>设备证书中心</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.lincolnelectric.com/LEExtranet/EPC/" target="" title="零件目录">
                                    <span>零件目录</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://marcomcentral.app.pti.com/dukeprinting/lincolnusmarketing/home.aspx?uigroup_id=18186" target="" title="文献请求">
                                    <span>文献请求</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.lincolnelectric.com/en-us/support/Pages/faq.aspx" target="" title="经常问的问题">
                                    <span>经常问的问题</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.lincolnelectric.com/en-us/support/Pages/conflict-minerals.aspx" target="" title="冲突矿物">
                                    <span>冲突矿物</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.lincolnelectric.com/en-us/company/legal/Pages/legal-notice.aspx#customerassistancepolicy" target="" title="客户协助政策">
                                    <span>客户协助政策</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="link-group-menu panel bg-transparent">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            我们服务的行业
                        </h3>
                    </div>
                    <hr>
                    <div class="panel-body">
                        <ul class="list-unstyled">
                            <li>
                                <a href="http://www.lincolnelectric.com/en-us/industries/heavy-fabrication/Pages/heavy-fabrication.aspx" target="" title="重制造">
                                    <span>重制造</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.lincolnelectric.com/en-us/industries/automotive-transportation/Pages/automotive-transportation.aspx" target="" title="汽车/运输">
                                    <span>汽车/运输</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.lincolnelectric.com/en-us/industries/pipeline/Pages/pipeline.aspx" target="" title="管道">
                                    <span>管道</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.lincolnelectric.com/en-us/industries/maintenance-and-repair/Pages/maintenance-and-repair.aspx" target="" title="维护和修理">
                                    <span>维护和修理</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.lincolnelectric.com/en-us/industries/offshore/Pages/offshore.aspx" target="" title="海洋产业">
                                    <span>海洋产业</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.lincolnelectric.com/en-us/industries/Pages/industries.aspx" target="" title="浏览所有行业解决方案">
                                    <span>浏览所有行业解决方案</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">

                <div class="link-group-menu panel bg-transparent">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            企业
                        </h3>
                    </div>
                    <hr>
                    <div class="panel-body">
                        <ul class="list-unstyled">
                            <li>
                                <a href="http://ir.lincolnelectric.com/" target="" title="投资者关系">
                                    <span>投资者关系</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://lincolnelectricehs.com/" target="" title="环境与安全">
                                    <span>环境与安全</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.lincolnelectric.com/en-us/company/Pages/Diversity-and-Inclusion.aspx" target="" title="多样性与包容性">
                                    <span>多样性与包容性</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://jobs.lincolnelectric.com/" target="" title="招聘">
                                    <span>招聘</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://lincolnelectric.corpgear.com/" target="" title="标志商品店">
                                    <span>标志商品店</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.lincolnelectric.com/en-us/Pages/default.aspx" target="" title="詹姆斯·F·林肯基金会（JFLF）">
                                    <span>詹姆斯·F·林肯基金会（JFLF）</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.lincolnelectric.com/en-us/company/Pages/certifications.aspx" target="" title="行业认证">
                                    <span>行业认证</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.lincolnelectric.com/en-us/company/legal/Pages/legal-notice.aspx" target="" title="网站使用条款">
                                    <span>网站使用条款</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.lincolnelectric.com/en-us/company/suppliers/Pages/suppliers.aspx" target="" title="供应商">
                                    <span>供应商</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.lincolnelectric.com/en-us/company/Pages/subsidiaries-and-affiliates.aspx" target="" title="子公司和关联公司">
                                    <span>子公司和关联公司</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.lincolnelectric.com/en-us/company/Pages/visitor-information.aspx" target="" title="游客信息">
                                    <span>游客信息</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://newsroom.lincolnelectric.com/" target="" title="媒体新闻室">
                                    <span>媒体新闻室</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.lincolnelectric.com/en-us/company/legal/Pages/ca-supply-chains-act.aspx" target="" title="加州供应链法案">
                                    <span>加州供应链法案</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.lincolnelectric.com/en-us/company/legal/Pages/modern-slavery-act.aspx" target="" title="现代奴隶制行为披露">
                                    <span>现代奴隶制行为披露</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="link-group-menu panel bg-transparent">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            商业合作伙伴
                        </h3>
                    </div>
                    <hr>
                    <div class="panel-body">
                        <ul class="list-unstyled">
                            <li>
                                <a href="https://www.lincolnelectric.com/en-us/pages/login.aspx" target="" title="MyLincoln登录/注册">
                                    <span>MyLincoln登录/注册</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.lincolnelectric.com/en-us/consumables/Pages/alloy-surcharge.aspx" target="" title="合金附加费">
                                    <span>合金附加费</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                </div>
            </div>
        </div>
    </div>
</footer>