<div class="header-top">
    <div class="container">
        <div class="row">
            <div class="col-md-6 hidden-xs">
                <nav>
                    <ul class="nav nav-service navbar-nav nav-social">
                        <li class="">
                            <a href="" target="" title="" class="btn btn-social-icon btn-weixin">
                                <span class="fa fa-weixin"></span>
                            </a>
                        </li>
                        <li class="">
                            <a href="" target="" title="" class="btn btn-social-icon btn-weibo">
                                <span class="fa fa-weibo"></span>
                            </a>
                        </li>
                        <li class="">
                            <a href="" target="" title="" class="btn btn-social-icon btn-linkedin">
                                <span class="fa fa-linkedin"></span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-6 hidden-xs">
                <div class="pull-right">

                    <nav>
                        <ul class="nav nav-service navbar-nav nav-pills">
                            <li class="">
                                <a href="" target="" title="中国" class="">
                                    中国
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>