<nav class="navbar navbar-default navbar-static" id="mainNavbar">
    <div class="container">
        <div class="navbar-left">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#siteNavbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a id="ctl00_EditModePanel3_cph_Header_cph_MainNavigation_LEMainNavigation_lnkLogo" class="primary-logo--link" href="http://www.lincolnelectric.com/en-us/">
                <img id="ctl00_EditModePanel3_cph_Header_cph_MainNavigation_LEMainNavigation_MastheadLogo" title="Lincoln Electric" class="header--logo" src="http://www.lincolnelectric.com/Global/lelc/content/1033/graphics/global/lincoln-electric-logo-v2.png" alt="Lincoln Electric Welders, Welding Wire, Welding Equipment, and Accessories">
            </a>
        </div>
        <div class="navbar-center">
            <script>
                function MouseOver(obj) {
                    var node = obj.getElementsByTagName("ul")[0];
                    node.style.display = "block";
                }

                function MouseOut(obj) {
                    var node = obj.getElementsByTagName("ul")[0];
                    node.style.display = "none";
                }
            </script>

            <div class="collapse navbar-collapse" id="siteNavbar">
                <ul class="nav navbar-nav">
                    <li class="" onmouseover="MouseOver(this)" onmouseout="MouseOut(this)">
                        <a class="text-uppercase" href="http://localhost:9091:9091/zh-CN/LincolnElectric/Home" target="">
                            首页
                        </a>
                    </li>
                    <li class=" dropdown position" onmouseover="MouseOver(this)" onmouseout="MouseOut(this)">
                        <a href="http://localhost:9091:9091/zh-CN/LincolnElectric/Home/PRODUCTS" class="dropdown-toggle text-uppercase cursor">
                            焊接设备<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu menu_display" style="display: none;">
                            <li>

                                <div class="spacer">
                                    <div class="feature">
                                        <div class="caption">
                                            <h5>LincolnElectric</h5>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class=" dropdown position" onmouseover="MouseOver(this)" onmouseout="MouseOut(this)">
                        <a href="http://localhost:9091:9091/zh-CN/LincolnElectric/Home/WHERE-TO-BUY" class="dropdown-toggle text-uppercase cursor">
                            焊接材料<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu menu_display">
                            <li>
                                <div style="float: left;">
                                    <ul class="menu">
                                        <li class="">
                                            <a href="http://localhost:9091:9091/zh-CN/LincolnElectric/Home/WHERE-TO-BUY/DISTRIBUTOR-LOCATOR" target="">手工焊条</a>
                                        </li>
                                        <li class="">
                                            <a href="http://localhost:9091:9091/zh-CN/LincolnElectric/Home/WHERE-TO-BUY/ONLINE-STORE" target="">药芯焊丝</a>
                                        </li>
                                        <li class="">
                                            <a href="http://localhost:9091:9091/zh-CN/LincolnElectric/Home/WHERE-TO-BUY/Solid-wire" target="">实心焊丝</a>
                                        </li>
                                        <li class="">
                                            <a href="http://localhost:9091:9091/zh-CN/LincolnElectric/Home/WHERE-TO-BUY/Submerged-arc-welding-material" target="">埋弧焊材</a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="spacer">
                                    <div class="feature">
                                        <div class="caption">
                                            <h5>LincolnElectric</h5>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class=" dropdown position" onmouseover="MouseOver(this)" onmouseout="MouseOut(this)">
                        <a href="http://localhost:9091:9091/zh-CN/LincolnElectric/Home/EDUCATION" class="dropdown-toggle text-uppercase cursor">
                            自动化<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu menu_display" style="display: none;">
                            <li>
                                <div style="float: left;">
                                    <ul class="menu">
                                        <li class="">
                                            <a href="http://localhost:9091:9091/zh-CN/LincolnElectric/Home/EDUCATION/EDUCATION-HOME" target="">自动化焊接电源</a>
                                        </li>
                                        <li class="">
                                            <a href="http://localhost:9091:9091/zh-CN/LincolnElectric/Home/EDUCATION/WELDING-SAFETY" target="">自动化送丝机</a>
                                        </li>
                                        <li class="">
                                            <a href="http://localhost:9091:9091/zh-CN/LincolnElectric/Home/EDUCATION/WELDING-SCHOOL" target="">切割设备</a>
                                        </li>
                                        <li class="">
                                            <a href="http://localhost:9091:9091/zh-CN/LincolnElectric/Home/EDUCATION/SERVICE-SCHOOL" target="">自动化焊接工艺</a>
                                        </li>
                                        <li class="">
                                            <a href="http://localhost:9091:9091/zh-CN/LincolnElectric/Home/EDUCATION/Automation-solutions" target="">自动化解决方案</a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="spacer">
                                    <div class="feature">
                                        <div class="caption">
                                            <h5>LincolnElectric</h5>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class=" dropdown position" onmouseover="MouseOver(this)" onmouseout="MouseOut(this)">
                        <a href="http://localhost:9091:9091/zh-CN/LincolnElectric/Home/SAFETY" class="dropdown-toggle text-uppercase cursor">
                            解决方案<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu menu_display">
                            <li>
                                <div style="float: left;">
                                    <ul class="menu">
                                        <li class="">
                                            <a href="http://localhost:9091:9091/zh-CN/LincolnElectric/Home/SAFETY/WELDING-SAFETY-RESOURCES" target="">重工</a>
                                        </li>
                                        <li class="">
                                            <a href="http://localhost:9091:9091/zh-CN/LincolnElectric/Home/SAFETY/SAFETY-DATA-SHEETS" target="">汽车</a>
                                        </li>
                                        <li class="">
                                            <a href="http://localhost:9091:9091/zh-CN/LincolnElectric/Home/SAFETY/WELD-FUME-CONTROL-PRODUCTS" target="">管道</a>
                                        </li>
                                        <li class="">
                                            <a href="http://localhost:9091:9091/zh-CN/LincolnElectric/Home/SAFETY/HELMETS-GEAR" target="">管线</a>
                                        </li>
                                        <li class="">
                                            <a href="http://localhost:9091:9091/zh-CN/LincolnElectric/Home/SAFETY/Offshore" target="">海工</a>
                                        </li>
                                        <li class="">
                                            <a href="http://localhost:9091:9091/zh-CN/LincolnElectric/Home/SAFETY/energy" target="">能源</a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="spacer">
                                    <div class="feature">
                                        <div class="caption">
                                            <h5>LincolnElectric</h5>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class=" dropdown position" onmouseover="MouseOver(this)" onmouseout="MouseOut(this)">
                        <a href="http://localhost:9091:9091/zh-CN/LincolnElectric/Home/SUPPORT" class="dropdown-toggle text-uppercase cursor">
                            支持<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu menu_display">
                            <li>

                                <div class="spacer">
                                    <div class="feature">
                                        <div class="caption">
                                            <h5>LincolnElectric</h5>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class=" dropdown position" onmouseover="MouseOver(this)" onmouseout="MouseOut(this)">
                        <a href="http://localhost:9091:9091/zh-CN/LincolnElectric/Home/News-And-Media-Center" class="dropdown-toggle text-uppercase cursor">
                            新闻及媒体中心<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu menu_display">
                            <li>
                                <div style="float: left;">
                                    <ul class="menu">
                                        <li class="">
                                            <a href="http://localhost:9091:9091/zh-CN/LincolnElectric/Home/News-And-Media-Center/News" target="">新闻</a>
                                        </li>
                                        <li class="">
                                            <a href="http://localhost:9091:9091/zh-CN/LincolnElectric/Home/News-And-Media-Center/Activity" target="">活动</a>
                                        </li>
                                        <li class="">
                                            <a href="http://localhost:9091:9091/zh-CN/LincolnElectric/Home/News-And-Media-Center/ProductSinglePage" target="">产品单页</a>
                                        </li>
                                        <li class="">
                                            <a href="http://localhost:9091:9091/zh-CN/LincolnElectric/Home/News-And-Media-Center/Industry-Solutions" target="">行业解决方案</a>
                                        </li>
                                        <li class="">
                                            <a href="http://localhost:9091:9091/zh-CN/LincolnElectric/Home/News-And-Media-Center/Video" target="">视频</a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="spacer">
                                    <div class="feature">
                                        <div class="caption">
                                            <h5>LincolnElectric</h5>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class=" dropdown position" onmouseover="MouseOver(this)" onmouseout="MouseOut(this)">
                        <a href="http://localhost:9091:9091/zh-CN/LincolnElectric/Home/AboutUs" class="dropdown-toggle text-uppercase cursor">
                            关于我们<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu menu_display">
                            <li>
                                <div style="float: left;">
                                    <ul class="menu">
                                        <li class="">
                                            <a href="http://localhost:9091:9091/zh-CN/LincolnElectric/Home/AboutUs/History-of-Licoln-China" target="">林肯中国历史</a>
                                        </li>
                                        <li class="">
                                            <a href="http://localhost:9091:9091/zh-CN/LincolnElectric/Home/AboutUs/Company-Vision" target="">公司愿景</a>
                                        </li>
                                        <li class="">
                                            <a href="http://localhost:9091:9091/zh-CN/LincolnElectric/Home/AboutUs/Factory" target="">制造工厂</a>
                                        </li>
                                        <li class="">
                                            <a href="http://localhost:9091:9091/zh-CN/LincolnElectric/Home/AboutUs/Sales-Office" target="">销售办公室</a>
                                        </li>
                                        <li class="">
                                            <a href="http://localhost:9091:9091/zh-CN/LincolnElectric/Home/AboutUs/Join-Us" target="">加入我们</a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="spacer">
                                    <div class="feature">
                                        <div class="caption">
                                            <h5>LincolnElectric</h5>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class=" dropdown position" onmouseover="MouseOver(this)" onmouseout="MouseOut(this)">
                        <a href="http://localhost:9091:9091/zh-CN/LincolnElectric/Home/CONTACT" class="dropdown-toggle text-uppercase cursor">
                            联系我们<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu menu_display">
                            <li>
                                <div style="float: left;">
                                    <ul class="menu">
                                        <li class="">
                                            <a href="http://localhost:9091:9091/zh-CN/LincolnElectric/Home/CONTACT/LIVE-CHAT" target="">销售办公室</a>
                                        </li>
                                        <li class="">
                                            <a href="http://localhost:9091:9091/zh-CN/LincolnElectric/Home/CONTACT/EMAIL-US" target="">信息咨询</a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="spacer">
                                    <div class="feature">
                                        <div class="caption">
                                            <h5>LincolnElectric</h5>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="navbar-right">
            <a id="ctl00_EditModePanel3_cph_Header_cph_MainNavigation_LEMainNavigation_lnkSearch" class="primary-search--link" href="/en-us/utility/pages/search-results-new.aspx">
                <i class="fa fa-search fa-2x" aria-hidden="true" style="padding-top:10px;"></i>
            </a>
        </div>
    </div>
</nav>